<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% load crispy_forms_filters %}
    <div class="m-5 p-5 card">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-success w-100">Login</button>
            </div>
        </form>
    </div>
{% endblock %}